.anadirAlojamiento {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.anadirAlojamiento h2 {
    font-size: 24px;
    color: #61419B;
    margin-bottom: 20px;
}

.anadirAlojamiento form {
    display: grid;
    gap: 20px;
}

.anadirAlojamiento .formGroup {
    display: grid;
    gap: 8px;
}

.anadirAlojamiento label {
    font-weight: bold;
}

.anadirAlojamiento input[type="text"],
.anadirAlojamiento input[type="number"],
.anadirAlojamiento textarea,
.anadirAlojamiento select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.anadirAlojamiento input[type="file"] {
    padding: 10px;
    font-size: 16px;
}

.anadirAlojamiento input[type="checkbox"] {
    margin-right: 8px;
}

.anadirAlojamiento button[type="submit"] {
    background-color: #61419B;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.anadirAlojamiento button[type="submit"]:hover {
    background-color: #5a378d;
}

.anadirAlojamiento .previewImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las imágenes */
    gap: 10px; /* Espacio entre las imágenes */
}

.anadirAlojamiento .previewImages img {
    width: 100%; /* Asegura que las imágenes ocupen todo el espacio disponible dentro del grid cell */
    height: auto; /* Para mantener la proporción de aspecto */
    max-height: 200px; /* Ajusta la altura máxima si lo necesitas */
    object-fit: cover; /* Ajusta cómo se ajustan las imágenes al contenedor */
    border-radius: 4px; /* Borde redondeado opcional */
    border: 1px solid #ddd; /* Borde opcional para cada imagen */
}
