.anadirAlojamiento {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.anadirAlojamiento h2 {
    font-size: 24px;
    color: #61419B;
    margin-bottom: 20px;
}

.anadirAlojamiento form {
    display: grid;
    gap: 20px;
}

.anadirAlojamiento .formGroup {
    display: grid;
    gap: 8px;
}

.anadirAlojamiento label {
    font-weight: bold;
}

.anadirAlojamiento input[type="text"],
.anadirAlojamiento input[type="number"],
.anadirAlojamiento textarea,
.anadirAlojamiento select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.anadirAlojamiento input[type="file"] {
    padding: 10px;
    font-size: 16px;
}

.anadirAlojamiento input[type="checkbox"] {
    margin-right: 8px;
}

.anadirAlojamiento button[type="submit"] {
    background-color: #61419B;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.anadirAlojamiento button[type="submit"]:hover {
    background-color: #5a378d;
}

.anadirAlojamiento .preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.anadirAlojamiento .previewItem {
    display: flex;
    flex-direction: column; /* Colocar la imagen encima del botón */
    align-items: center; /* Centrar elementos horizontalmente */
}

.anadirAlojamiento .previewImage {
    max-width: 100px; /* Tamaño máximo de las imágenes de vista previa */
    max-height: 100px; /* Tamaño máximo de las imágenes de vista previa */
    overflow: hidden; /* Para ocultar cualquier desbordamiento de la imagen */
    border-radius: 4px; /* Borde redondeado opcional */
    border: 1px solid #ddd; /* Borde opcional para cada imagen */
}

.anadirAlojamiento .eliminarImagenBtn {
    margin-top: 8px; /* Espacio superior entre la imagen y el botón */
    background-color: #e74c3c; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 8px 16px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor tipo puntero */
    transition: background-color 0.3s ease; /* Transición al pasar el ratón */
}

.anadirAlojamiento .eliminarImagenBtn:hover {
    background-color: #c0392b; /* Color de fondo del botón al pasar el ratón */
}
