.container {
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.agregarServicio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.agregarServicio input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.agregarServicio button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.listaServicios {
    list-style: none;
    padding: 0;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    /* Eliminar la sombra y bordes */
    box-shadow: none;
    border: none;
}

.listItem span {
    flex: 1;
}

.actions {
    display: flex;
    align-items: center;
}

.editButton {
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.deleteButton {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}
