.gestionarAlojamiento {
    padding: 20px;
    text-align: center;
}

.nav {
    margin-bottom: 20px;
}

.nav button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav button.active {
    background-color: #61419B;
    color: white;
}

.content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
