/* Estilo para el encabezado */
header {
  position: relative;
  height: 500px; /* Ajusta la altura según sea necesario */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.background-image.visible {
  opacity: 1;
  z-index: 2;
}

.header-logo {
  z-index: 3; /* Asegura que el logo esté frente a las imágenes de fondo */
  position: relative; /* Asegura que el z-index tenga efecto */
  border-radius: 60px;
  filter: drop-shadow(0px 0px 20px #ffffff);
  max-width: 100%; /* Asegura que el logo no exceda el ancho de la pantalla */
  height: auto; /* Mantiene la proporción del logo */
}
