.Alojamiento {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .image-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .image-slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .details-container {
    flex: 1;
    text-align: center;
  }
  
  .Alojamiento h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .Alojamiento .descripcion {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .details-bubble {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .details-bubble h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .details-bubble ul {
    list-style-type: none;
    padding: 0;
  }
  
  .details-bubble ul li {
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  
  .details-bubble ul ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  